pandas
numpy
flask
requests

autopep8
certifi
charset-normalizer
click
colorama
Flask
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
pycodestyle
requests
toml
typing-extensions
urllib3
Werkzeug
zipp
